<p id="notice"><%= notice %></p>

<img src="https://image.ibb.co/mAFdNT/export_1.jpg" height="55%" width="55%" style="margin-left:20%">

<h1>Body Weights For Month</h1>

<table align="right">

  <tbody>
  <% i = 0%>
    <% @body_weights.limit(30).each do |body_weight| %>
      <tr>
      <% if i == 0 %>
        <span>Average weight for last 5 days:</span> 
        <%= body_weight.average_weight %>
        <% i = 1 %>
      <% end %>  
      </tr>
    <% end %>
    
  </tbody>

</table>


<br>

<%= link_to 'Add body weight', new_body_weight_path, class: "btn btn-success btn-md my-4"%><br>


<h1>Foods and Exercises For Day</h1>

<br>
<table >
  <thead>
    <tr>
      <th> <strong>Exercises:</strong>  </th>
      <th> <strong>Food:</strong>  </th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% i = 0%>
    
    <% TrainingDay.all.each do |training_day| %>
    <tr>
        <td>
          <% if Exercise.where(:id => training_day.exercise_id).exists? %>
            <%= Exercise.find(training_day.exercise_id).name %>
          <% end %>
        </td>
        <td>
          <% if Food.where(:id => training_day.food_id).exists? %>
            <%= Food.find(training_day.food_id).name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', training_day %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Training Day', new_training_day_path, class: "btn btn-success btn-md my-4"%><br>
