<p id="notice"><%= notice %></p>

<h1>Body Weights For Month</h1>

<table>
  <thead>
    <tr>
      <th>Weight</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% i = 0%>
    <% @body_weights.limit(30).each do |body_weight| %>
      <tr>
      <% if i == 0 %>
        <span>Average weight for last 5 days:</span> 
        <%= body_weight.average_weight %>
        <% i = 1 %>
      <% end %>  
        <td><%= body_weight.weight %></td>
        <td><%= body_weight.date %></td>
        <td><%= link_to 'Show', body_weight %></td>
        <td><%= link_to 'Edit', edit_body_weight_path(body_weight) %></td>
        <td><%= link_to 'Destroy', body_weight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    
  </tbody>

</table>


<br>

<%= link_to 'New Body Weight', new_body_weight_path %>

<br>
<table>
  <thead>
    <tr>
      <th> <strong>Exercises:</strong>  </th>
      <th> <strong>Food:</strong>  </th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% i = 0%>
    
    <% TrainingDay.all.each do |training_day| %>
    <tr>
        <td>
          <% if Exercise.where(:id => training_day.exercise_id).exists? %>
            <%= Exercise.find(training_day.exercise_id).name %>
          <% end %>
        </td>
        <td>
          <% if Food.where(:id => training_day.food_id).exists? %>
            <%= Food.find(training_day.food_id).name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', training_day %></td>
    </tr>
    <% end %>
  </tbody>
</table>