<%= form_with(model: training_day, local: true) do |form| %>
  <% if training_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training_day.errors.count, "error") %> prohibited this training_day from being saved:</h2>

      <ul>
      <% training_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= collection_select(:training_day,:food_id,Food.all,:id,:name) %>
  </div>

  <div class="field">
  <%= collection_select(:training_day,:exercise_id,Exercise.all,:id,:name) %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
