<p id="notice"><%= notice %></p>


<h3> Listings under this category </h3>

<div class="album py-3 bg-light">
	<div class="container">
  		<div class="row">
				<% Food.where(exercise_category_id: @food_categories.id).each do |listing| %>
					<div class="col-xl-3 col-lg-4 col-sm-6 col-12 ">
						<div class="card h-100">
						  <span data-toggle="modal" data-target="#exampleModal<%= listing.id%>">
						  </span>
						  <div class="card-body">
						    <%= link_to food_path(food) do %>
						     	<h4><%= listing.name %></h4>
						  <% end %>
						  </div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_food_category_path(@food_category) %> |
<%= link_to 'Back', food_categories_path %>
